.u-remove-underline {
    text-decoration: none;
}

// For Links in button element
.u-dark-text {
    color: $color-dark-1;
}
.u-light-text {
    color: $color-white;
}

// Margins
.u-margin-bottom-small {
    margin-bottom: 1em;
}
